# Mapbox token for the map component
VITE_MAPBOX_TOKEN=your_mapbox_token_here

# Contact Email
VITE_EMAIL=support@example.com

# Contact Phone
VITE_PHONE=1234567890

# Backend API base URL
VITE_API_URL=https://salon-booking-system-admin-panel.onrender.com/api/v1
# Backend server URL (for WebSocket connection)
VITE_BACKEND_URL=https://salon-booking-system-admin-panel.onrender.com

# Admin panel URL for salon owners (e.g., http://localhost:5174)
VITE_ADMIN_URL=https://salon-booking-system-admin-panel.onrender.com

